schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Type with restrictions for rating -->
  <xs:simpleType name="ratingType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Type with restrictions for email only strings -->
  <xs:simpleType name="emailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Type with restrictions for day of week -->
  <xs:simpleType name="dayOfWeekType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Monday"/>
      <xs:enumeration value="Tuesday"/>
      <xs:enumeration value="Wednesday"/>
      <xs:enumeration value="Thursday"/>
      <xs:enumeration value="Friday"/>
      <xs:enumeration value="Saturday"/>
      <xs:enumeration value="Sunday"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Type with restrictions for social media platforms -->
  <xs:simpleType name="socialPlatformType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="instagram"/>
      <xs:enumeration value="facebook"/>
      <xs:enumeration value="telegram"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Type with restrictions for currency -->
  <xs:simpleType name="currencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="EUR"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Type with restrictions for url that begins with http or https -->
  <xs:simpleType name="urlType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(http|https)://.*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="restaurant">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="descriptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="description" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="slogan"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="language" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="contacts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="street"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:short" name="zip"/>
                    <xs:element type="emailType" name="email"/>
                  </xs:sequence>
                  <xs:attribute type="xs:float" name="latitude"/>
                  <xs:attribute type="xs:float" name="longtitue"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="schedule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="day" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="dayOfWeekType" name="name"/>
                          <xs:element type="xs:string" name="from"/>
                          <xs:element type="xs:string" name="to"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="phones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="phone" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:int">
                            <xs:attribute type="xs:string" name="countryCode" />
                            <xs:attribute type="xs:boolean" name="stationary" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="socialMedias">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="socialMedia" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="urlType" name="url"/>
                        </xs:sequence>
                        <xs:attribute type="socialPlatformType" name="platform" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="menu">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dish" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="price">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:short">
                            <xs:attribute type="currencyType" name="currency" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element name="properties">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ingrodients">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="ingrodient" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:short" name="calories"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" />
                  <xs:attribute type="xs:string" name="language" />
                  <xs:attribute type="xs:boolean" name="happyTime" />
                  <xs:attribute type="xs:boolean" name="vegan" />
                  <xs:attribute type="xs:string" name="category" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="team">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="member" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="position"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="reviews">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="review">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="author"/>
                    <xs:element type="xs:string" name="position"/>
                    <xs:element type="xs:string" name="comment"/>
                  </xs:sequence>
                  <xs:attribute type="ratingType" name="rating" />
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>

        <xs:element name="reservations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reservation" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="customer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element name="phone">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:int">
                                  <xs:attribute type="xs:string" name="countryCode" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="emailType" name="email"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="partySize"/>
                    <xs:element type="xs:string" name="specialRequests"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" />
                  <xs:attribute type="xs:date" name="date" />
                  <xs:attribute type="xs:string" name="time" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>